.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Verdana';
}

.login-page h1 {
  margin-bottom: 6rem;
  font-size: 40px;
  letter-spacing: -3px;
  text-align: center;
}

.login-card {
  background: #1db702;
  width: 290px;
  height: 450px;
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
