.login-card form {
  /* display: flex;
  justify-content: space-evenly; */
  /* height: 100%; */
  align-items: center;
  /* flex-direction: column; */
  text-align: center;
  width: 100%;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 100%;
}

.error-msg p {
  margin: 0;
  font-size: 10px;
  text-align: center;
  color: rgb(126, 2, 2);
}

.inputs-container label {
  font-size: 12px;
  font-weight: 600;
  text-align: start;
}

.inputs-container input {
  width: 180px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 1px 3px #000;
  outline: none;
  margin-bottom: 10px;
  font-size: medium;
}

.login-card form button {
  padding: 12px;
  width: 150px;
  font-size: large;
  border: none;
  background-color: #016306;
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.login-card form button:hover {
  background-color: #022c16;
  transition: 0.8s;
}

.login-card form button:disabled {
  cursor: not-allowed;
  padding: 10px;
  color: #000;
  background-color: #c5c5c5;
  box-shadow: none;
}
